/*
  font-family: 'Roboto', sans-serif;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
  lighter blue: #74b9ff
  darker blue: #0984e3
*/

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #74b9ff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: white;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
  height: 70%;
  width: 65%;
  padding: 15px 25px 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  height: 250px;
}

p {
  padding: 0;
  margin: 0;
  font-size: 26px;
  font-weight: 100;
}

h1 {
  font-size: 41px;
  font-weight: 700;
  margin: 0 0 15px 0;
  padding: 0;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  color:#0984e3;
  margin: 0;
  padding: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.receipt-header {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.receipt-main {
  height: 52%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  margin-top: 25px;
}

.text-main {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.receipt-footer {
  height: 28%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.wrapper-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
   border-bottom: 2px dashed gray;
}

.wrapper-num {
  height: 45px;
  width: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 50%;
  border: 3px solid #74b9ff
}

.footer-1{
  background-color: #74b9ff;
}
